Options -Indexes

<IfModule mod_headers.c>
	<FilesMatch "\.(eot|font.css|otf|ttc|ttf|woff)$">
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
</IfModule>
<IfModule mod_mime.c>
	# Web fonts
	AddType application/font-woff woff
	AddType application/vnd.ms-fontobject eot
	# Browsers usually ignore the font MIME types and sniff the content,
	# however, Chrome shows a warning if other MIME types are used for the
	# following fonts.
	AddType application/x-font-ttf ttc ttf
	AddType font/opentype otf
	# Make SVGZ fonts work on iPad:
	# https://twitter.com/FontSquirrel/status/14855840545
	AddType     image/svg+xml svg svgz
	AddEncoding gzip svgz
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^image/(.*)_(\d{4})(\d{2})(\d{2})(.*)_(.*) /api/content/images/$1/$2/$3/$4/$5.$6 [R=301,QSA,L]
	
	RewriteRule ^admin/userPermissions/([0-9]+) index.php?sys=admin&data=userPermissions&user_id=$1 [NC,QSA]
	
	RewriteRule ^report/createreport/([0-9]+) index.php?sys=report&data=createreport&category_id=$1 [NC,QSA]
	RewriteRule ^report/pageblocks/([0-9]+) index.php?sys=report&data=pageblocks&category_id=$1 [NC,QSA]
	
	#LOGIN FIX
	RewriteRule ^login/(.*) index.php?sys=login&data=$1 [NC,B,QSA]
	RewriteRule ^logout/(.*) index.php?sys=login&data=$1 [NC,B,QSA]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^([^/]+)/([^/]+) index.php?sys=$1&data=$2 [NC,QSA]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^([^/]+) index.php?sys=$1 [NC,QSA]
</IfModule>